$activeColor: #d88b83;

@media screen and (min-width: 1024px){
  .bd-navbar {
      padding: 1rem 2rem;
  }
}

.navbar {
  font-weight: 700
}

.mr-1-5 {
  margin-right: 0.375rem;
}

a.navbar-item {
  border-radius: 0.375rem;
  margin: 0 0.375rem;
}

a.navbar-item.is-active {
  color: $activeColor;
  border-radius: 0.375rem;
  border: 1px solid $activeColor;
}

.nav-icon {
  transition: transform 2s ease-in-out;
}

.decks > .nav-icon-animate {
	backface-visibility: visible !important;
	animation: squeeze 1s ease;
}

.sets > .nav-icon-animate {
	backface-visibility: visible !important;
	animation: pinch 1s ease;
}

.cards > .nav-icon-animate {
	backface-visibility: visible !important;
	animation: flip 1s ease;
}

@keyframes squeeze {
	0% {
		transform: perspective(400px) rotateX(0);
		animation-timing-function: ease-out;
	}
	15% {
		transform: perspective(400px) rotateX(65deg);
		animation-timing-function: ease-out;
	}
	25% {
		transform: perspective(400px) rotateX(65deg);
		animation-timing-function: ease-out;
	}
	100% {
		transform: perspective(400px) rotateX(0deg);
		animation-timing-function: ease-in;
	}
}

@keyframes flip {
	0% {
		transform: perspective(400px) rotateY(0);
		animation-timing-function: ease-out;
	}
	35% {
		transform: perspective(400px) rotateY(120deg) rotateX(30deg);
		animation-timing-function: ease-out;
	}
	100% {
		transform: perspective(400px) rotateY(0deg) rotateX(0deg);
		animation-timing-function: ease-in;
	}
}

@keyframes pinch {
	0% {
		transform: scale(100%) ;
		animation-timing-function: ease-out;
	}
	20% {
		transform: scale(110%);
		animation-timing-function: ease-out;
	}
	100% {
		transform: scale(100%);
		animation-timing-function: ease-in;
	}
}